<mat-toolbar color="primary" class="fixed-header">
    <span routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" style="cursor: pointer;">Pesci Increbili 🐟😮</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
    <a mat-button routerLink="/catalog" routerLinkActive="active" ariaCurrentWhenActive="page">Catalog</a>
    <a mat-button routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a>
    @if (getUser()) {
        <a mat-button routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
        <a mat-button (click)="session.logout()" title="Logout"><mat-icon>logout</mat-icon></a>
        <img [src]="getUser().pfpUrl" alt="Profile picture" style="max-width: 32px; border-radius: 50%;">
    } @else {
        <a mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" title="Login"><mat-icon>login</mat-icon></a>
    }
    <a mat-button routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon>shopping_cart</mat-icon>{{ getCart().length }}</a>
</mat-toolbar>